.main {

  &_content {
    
    &_wrapper {
      position: fixed;
      top:91px;
      left: calc(117px + 14%); //nav bar width + right value
      right: 14%;
      bottom: 0;
      padding: 0 4rem;

      @media screen and (max-width: 1400px) {
        left: calc(117px); //nav bar width + right value
        right: 0;
      }

      @media screen and (max-width: 1023px) {
        padding: 2rem 2rem;
      }
      
        

      //MOZ
      overflow: auto;
      scrollbar-width: thin;
      scrollbar-color: $tertiary_text_color $light_bg_color;

      &::-webkit-scrollbar {
        overflow: auto;
        width: 5px;

        &-track {
          background: $light_bg_color;
        } 

        &-thumb {
          background: $tertiary_text_color;
        }
      }
    }

    &_left_right_block_container {
      @include flex_center_row;
      justify-content: space-between;
      margin-top: clamp(1.5rem, 5vh, 3.5rem);
      margin-bottom: 1rem;
      width: 100%;

      @media screen and (max-width: 1023px) {
        @include flex_center_column;
        flex-direction: column-reverse;
      }
    }
    
    &_left_block {
      @include flex_center_column;
      width: 75%;
      height: auto;
      margin-right: 1rem;

      @media screen and (max-width: 1023px) {
        width: 100%;
        margin-right:0;
      }
      
      &_up {
        @include flex_center;
        height: clamp(260px, 35vh, 320px);
        width: 100%;
        background: $light_bg_color;
      }
    
      &_down {
        @include flex_center_row;
        justify-content: space-between;
        margin-top: 1.9rem;
        width: 100%;
        height: clamp(200px, 29vh, 263px);
        
        &_left,
        &_center,
        &_right {
          @include flex_center;
          width: 31%;
          height: 100%;
          background: $light_bg_color;
          border-radius: $radius;
          overflow: hidden;
        }

        &_left{
          background: $primary_color;
        }
      }
    }

    &_right_block {
      @include flex_center_column;
      align-self: stretch; // same height as parent (main_content_left_right_block_container) 
      justify-content: space-between;
      flex:1;

      @media screen and (max-width: 1023px) {
        @include flex_center_row;
        width:100%;
        margin-bottom: 2rem;
      }
    }
  }
}
