.main {

  &_wrapper {
    @include flex_center_row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &_content {
    &_wrapper {
      margin: 4.2rem 6.7rem;  
    }

    &_left_right_block_container {
      @include flex_center_row;
      justify-content: space-between;
      margin-top: 4.8rem;
    }
    
    &_left_block {
      @include flex_center_column;
      width: 835px;
      height: auto;
      margin-right: 1rem;
      
      &_up {
        height: 320px;
        width: 100%;
        border: 1px solid red; //DEV
        background: $light_bg_color;
      }
    
      &_down {
        @include flex_center_row;
        justify-content: space-between;
        margin-top: 1.9rem;
        border: 1px solid red; //DEV
        width: 100%;
        height: 263px;
        padding: 0.5rem; //TODO REMOVE
        
        &_left,
        &_center,
        &_right {
          width: 258px;
          height: 100%;
          border: 1px solid lime; //DEV
        }
      }
    }

    &_right_block {
      @include flex_center_column;
      align-self: stretch; // same height as parent (main_content_left_right_block_container) 
      width:258px;
      border: 1px solid red; //DEV

    }
  }
}
