$primary_color : #FF0101;
$primary_color_darken : #E60000;
$secondary_color : #FF0101; 
$tertiary_color : #282D30;

$calories_color : #FF0101;
$proteins_color : #4AB8FF;
$carbohydrates_color : #FDCC0C;
$lipids_color : #FD5181;

$light_bg_color : #FBFBFB;

$primary_text_color : #fff;
$secondary_text_color : #FF0101;
$tertiary_text_color : #74798C;