/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* =============================== add perso =========================== */
.navlink {
  text-decoration: none;
  color: inherit;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/Roboto-Regular.ttf") format("truetype");
}
.username_and_goal_wrapper,
.main_content_left_right_block_container,
.error_container {
  animation: pagesDisplayTimeout 2s linear;
}

@keyframes pagesDisplayTimeout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.loading_spinner_container {
  animation: loadingSpinnerDisplayTimeout 2s linear;
}

@keyframes loadingSpinnerDisplayTimeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}
.loading_spinner_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.loading_spinner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  border-radius: 20%;
  background-color: #FBFBFB;
}
@keyframes logoWave {
  0% {
    box-shadow: 0 0 0 1.2em #FF0101, 0 0 0 0.1em #FF0101;
    transform: rotate(-360deg);
  }
  100% {
    box-shadow: 0 0 0 0.5em #FF0101, 0 0 0 6em transparent;
  }
}
.loading_spinner_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  animation: logoWave 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}
.loading_spinner_logo svg {
  width: 150px;
  height: 150px;
}
.loading_spinner_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-size: clamp(1rem, 4vh, 2rem);
  color: #FF0101;
}
.loading_spinner_text p {
  margin-right: 0.3rem;
}
.loading_spinner_text span {
  animation: ellipsisDots 1.5s ease infinite;
  margin-right: 0.3rem;
}
.loading_spinner_text span:nth-child(2) {
  animation-delay: 0s;
}
.loading_spinner_text span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading_spinner_text span:nth-child(4) {
  animation-delay: 0.4s;
}
@keyframes ellipsisDots {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px) scale(2);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.header_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 91px;
  background: #020203;
  padding: 1.2rem 1.8rem;
  position: fixed;
  top: 0;
  left: 0;
}
.header_logo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: fit-content;
  height: 100%;
  margin-right: 1rem;
}
.header_logo_container {
  position: relative;
  width: 58px;
  height: 58px;
}
.header_logo_inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s cubic-bezier(0.86, 0.5, 0.9, 1);
}
.header_logo_rotate {
  transform: rotateY(180deg);
}
.header_logo_img_front, .header_logo_img_back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.header_logo_img_front svg, .header_logo_img_back svg {
  width: 100%;
  height: 100%;
}
.header_logo_img_front path:first-child,
.header_logo_img_front path:nth-child(3) {
  fill: #FF0101;
}
.header_logo_img_front path:nth-child(2),
.header_logo_img_front path:last-child {
  fill: #020203;
}
.header_logo_img_back {
  transform: rotateY(180deg) scaleX(-1);
}
.header_logo_img_back path:first-child,
.header_logo_img_back path:nth-child(3) {
  fill: #fff;
}
.header_logo_img_back path:nth-child(2),
.header_logo_img_back path:last-child {
  fill: #020203;
}
.header_logo_text {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.7rem;
  color: #FF0101;
}
.header_nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  height: 100%;
}
.header_nav_item {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.navbar_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 117px;
  height: calc(100vh - 91px);
  background: #020203;
  position: fixed;
  top: 91px;
  left: 0;
  padding: 0 1rem;
}
.navbar_icons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 1.25rem;
}
.navbar_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: 6px;
}
.navbar_icon_container svg {
  width: 36px;
  height: 32px;
}
.navbar_icon_container path:first-child,
.navbar_icon_container path:last-child {
  fill: #FF0101;
}
.navbar_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 150px;
  height: auto;
  position: fixed;
  bottom: 5.5rem;
  transform: rotate(-90deg);
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
}

.main_content_wrapper {
  position: fixed;
  top: 91px;
  left: calc(117px + 14%);
  right: 14%;
  bottom: 0;
  padding: 0 4rem;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #74798C #FBFBFB;
}
@media screen and (max-width: 1400px) {
  .main_content_wrapper {
    left: 117px;
    right: 0;
  }
}
@media screen and (max-width: 1023px) {
  .main_content_wrapper {
    padding: 2rem 2rem;
  }
}
.main_content_wrapper::-webkit-scrollbar {
  overflow: auto;
  width: 5px;
}
.main_content_wrapper::-webkit-scrollbar-track {
  background: #FBFBFB;
}
.main_content_wrapper::-webkit-scrollbar-thumb {
  background: #74798C;
}
.main_content_left_right_block_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: clamp(1.5rem, 5vh, 3.5rem);
  margin-bottom: 1rem;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .main_content_left_right_block_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: column-reverse;
  }
}
.main_content_left_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  height: auto;
  margin-right: 1rem;
}
@media screen and (max-width: 1023px) {
  .main_content_left_block {
    width: 100%;
    margin-right: 0;
  }
}
.main_content_left_block_up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(260px, 35vh, 320px);
  width: 100%;
  background: #FBFBFB;
}
.main_content_left_block_down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.9rem;
  width: 100%;
  height: clamp(200px, 29vh, 263px);
}
.main_content_left_block_down_left, .main_content_left_block_down_center, .main_content_left_block_down_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31%;
  height: 100%;
  background: #FBFBFB;
  border-radius: 6px;
  overflow: hidden;
}
.main_content_left_block_down_left {
  background: #FF0101;
}
.main_content_right_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
  flex: 1;
}
@media screen and (max-width: 1023px) {
  .main_content_right_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
  }
}

.key_data_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 124px;
  background: #FBFBFB;
  border-radius: 6px;
}
.key_data_container_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 1.5rem;
  border-radius: 6px;
  position: relative;
}
.key_data_container_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.key_data_container_text_counter {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-weight: bold;
}
.key_data_container_text_label {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  color: #74798C;
  font-size: clamp(0.7rem, 0.9vw, 0.9rem);
}

.key_data_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.error_code {
  font-size: clamp(10rem, 45vw, 25rem);
  font-weight: 800;
  position: relative;
  background: #fff;
  overflow: hidden;
}
.error_code:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  mix-blend-mode: screen;
  background-size: 3em 3em, 2em 2em;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 1em, #FF0101 1em, #fff 50%), repeating-linear-gradient(45deg, #E60000, rgb(74, 184, 255) 1em, rgb(253, 204, 12) 1em, rgb(253, 81, 129) 50%);
  animation-name: anim;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes anim {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 400% 0;
  }
}
.error_homebutton {
  font-size: clamp(0.8rem, 1.2vw, 1.2rem);
  color: #fff;
  margin-top: clamp(1rem, 2vw, 2rem);
  transition: 0.5s cubic-bezier(0.2, 0.5, 0.3, 2);
  background: linear-gradient(90deg, #E60000, #FF0101, #E60000);
  padding: 1rem;
  border-radius: 20% 0%;
}
.error_homebutton:hover {
  transform: scale(1.1);
}
.error_text {
  font-size: clamp(0.8rem, 1.2vw, 1.2rem);
  color: #74798C;
}
.error_text:nth-of-type(1) {
  margin-top: clamp(5rem, 10vw, 10rem);
}

/*# sourceMappingURL=style.css.map */
