/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* =============================== add perso =========================== */
@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/Roboto-Regular.ttf") format("truetype");
}
html,
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}

.header_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 91px;
  background: #000;
  padding: 1.2rem 1.8rem;
}
.header_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: fit-content;
  height: 100%;
  margin-right: 1rem;
}
.header_logo_img svg {
  width: 58px;
  height: 58px;
}
.header_logo_img path:first-child {
  fill: #FF0101;
}
.header_logo_img path:nth-child(2) {
  fill: #000;
}
.header_logo_img path:nth-child(3) {
  fill: #FF0101;
}
.header_logo_img path:last-child {
  fill: #000;
}
.header_logo_text {
  color: #FF0101;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.7rem;
}
.header_nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  height: 100%;
}
.header_nav_item {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.navbar_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 117px;
  height: 933px;
  background: #000;
}
.navbar_icons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 1.25rem;
}
.navbar_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: 6px;
}
.navbar_icon_container svg {
  width: 36px;
  height: 32px;
}
.navbar_icon_container path:first-child,
.navbar_icon_container path:last-child {
  fill: #FF0101;
}
.navbar_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 138px;
  height: auto;
  transform: rotate(-90deg) translateX(-12rem);
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
}

.username_and_goal_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border: 1px solid red;
}
.username_and_goal_firstname {
  font-size: 3rem;
  font-weight: 500;
}
.username_and_goal_goal {
  font-size: 1.1rem;
  margin-top: 1rem;
}

.main_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.main_content_wrapper {
  margin: 4.2rem 6rem;
  flex: 1;
}
.main_content_left_right_block_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4.8rem;
  width: 100%;
}
.main_content_left_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  height: auto;
  margin-right: 1rem;
}
.main_content_left_block_up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 100%;
  border: 1px solid red;
  background: #FBFBFB;
}
.main_content_left_block_down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.9rem;
  border: 1px solid red;
  width: 100%;
  height: 263px;
  padding: 0.5rem;
}
.main_content_left_block_down_left, .main_content_left_block_down_center, .main_content_left_block_down_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31%;
  height: 100%;
  border: 1px solid lime;
  background: #FBFBFB;
  text-align: center;
  border-radius: 6px;
}
.main_content_right_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
  border: 1px solid red;
  padding: 0.5rem;
  width: 25%;
}

.key_data_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 124px;
  background: #FBFBFB;
  border: 1px solid lime;
  border-radius: 6px;
}
.key_data_container_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 1.5rem;
  border-radius: 6px;
  position: relative;
}
.key_data_container_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.key_data_container_text_counter {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
}
.key_data_container_text_label {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  color: #74798C;
  font-size: 0.8rem;
}

.key_data_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=style.css.map */
